.rectangle{/* Rectangle 15 */
    
position: absolute;
height: 300px;
left: 0%;
right: 0%;
top: 60px;

background: linear-gradient(180deg, #E5F8FE 14.25%, rgba(255, 255, 255, 0) 100%);
background-image: url('Vector.png');
}
.myBooking{
    /* My booking */

position: relative;
width: 280px;
height: 67px;
left: 650px;
top: 150px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 140%;
/* or 67px */

display: flex;
align-items: center;
text-transform: capitalize;

color: #3A3A3A;
}